@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #ffcd00;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

#parent {
  height: 75vh;
  width: 97vw;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 30%);
  border-radius: 1%;
}

#titol1 {
  position: absolute;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  left: 2%;
  top: 6%;
}

#titol2 {
  position: absolute;
  font-size: 1.1rem;
  right: 2%;
  top: 9%;
  display: flex;
  align-items: center;
}

#titol1 p {
  margin-left: 1rem;
}
#titol2 p {
  margin-right: 1rem;
}
#pointer {
  border-radius: 50%;
}
#pointer:active,
.logo:active {
  transform: translateY(0.2em);
}
p#titol-centre {
  font-size: 1.3rem;
  position: absolute;
  left: 50%;
  top: 1%;
  transform: translate(-50%);
}

.logo {
  max-height: 12vh;
  max-width: 12vw;
  cursor: pointer;
}

@media (max-width: 700px) {
  #titol1 > p {
    display: none;
  }
  #titol2 > p {
    display: none;
  }
}
